# Introduction to the Pandas module

## Scope
This notebook gives some key functions to work with data base using the panda module (https://pandas.pydata.org/)

The web gives you a lot of exemples and documentations on this module:

http://pandas.pydata.org/pandas-docs/stable/10min.html

http://www.python-simple.com/python-pandas/panda-intro.php

In [1]:
# Setup
%load_ext autoreload
%matplotlib notebook
%autoreload 2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

### Load data and creat a dataframe from csv file

More explaination can be found here : https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [2]:
df = pd.read_csv("./_DATA/Note_csv.csv", delimiter=";")
df

   section groupe       name     ET     CC
0       MM      A        ami  14.50  11.75
1       MM      A      joyce   8.50  11.50
2       MM      C       lola   9.50  13.25
3       MM      B       irma   7.50   6.00
4      IAI      D   florence  14.50  13.25
..     ...    ...        ...    ...    ...
90      MM      A      james  13.75  12.75
91     IAI      D    richard  15.25   7.00
92      MM      A    caprice  18.25  15.00
93     IAI      D         al  12.50   9.75
94      MM      B  constance   3.00   7.00

[95 rows x 5 columns]

### Display the dataframe

In [3]:
# return the beginning of the dataframe
df = df.fillna(0.0)
df.head(10)

  section groupe        name     ET     CC
0      MM      A         ami  14.50  11.75
1      MM      A       joyce   8.50  11.50
2      MM      C        lola   9.50  13.25
3      MM      B        irma   7.50   6.00
4     IAI      D    florence  14.50  13.25
5      MM      B          vi  11.00   7.50
6      MM      B       brian  14.00  16.25
7      MM      B  antoinette  14.50  17.00
8     IAI      D        fred   9.50  11.50
9     IAI      D      gaston  12.25   5.75

In [4]:
# return the end of the dataframe
df.tail(10)

   section groupe       name     ET     CC
85      MM      A        vin  11.00  13.00
86      MM      A   jeunesse  12.00  10.50
87      MM      A   victoire  11.75  12.00
88      MM      B     joseph   8.00  10.00
89      MM      A        fê­©x  13.00  14.50
90      MM      A      james  13.75  12.75
91     IAI      D    richard  15.25   7.00
92      MM      A    caprice  18.25  15.00
93     IAI      D         al  12.50   9.75
94      MM      B  constance   3.00   7.00

### Selecting data in a dataframe

In [ ]:
# get data from index 2
df.loc[2]

In [ ]:
# get name from index 2
df.name[2]

In [ ]:
# Sliccing is also working

df.name[2:6]

###  Get one of row of the dataframe

In [ ]:
df.groupe

###  Get the number of student in each groupe

In [ ]:
df.groupe.value_counts()

###  Get the proportion of student between groupes

In [ ]:
df.groupe.value_counts(normalize=True)

###  Display the proportion of student between groupes


***Using the plot function of panda:***

visualization optin of pandas can be found here : http://pandas.pydata.org/pandas-docs/version/0.18/visualization.html

In [ ]:
fig = plt.figure()
df.groupe.value_counts(normalize=True).plot.pie(
    labels=["A", "B", "C", "D"], colors=["r", "g", "b", "y"], autopct="%.1f"
)
plt.show()

***Using the plot function of matplotlib:***

In [ ]:
val = df.groupe.value_counts(normalize=True).values
explode = (0.5, 0, 0.2, 0)
labels = "A", "B", "C", "D"
fig1, ax1 = plt.subplots()
ax1.pie(
    val, explode=explode, labels=labels, autopct="%1.1f%%", shadow=True, startangle=90
)
ax1.axis("equal")  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

###  Get student list who are in groupe A

In [ ]:
df[(df.ET > 14.0) & (df.CC > 14.0)]

###  Make calulation on data

In [ ]:
df.ET.mean()  # the mean of ET note over all student

In [ ]:
df.ET[df.groupe == "B"].mean()  # the mean of note1 over student from A groupe

In [ ]:
df.groupby(["groupe"]).mean()  # compte the mean of each note for each groupe

In [ ]:
df.groupby(["section"]).mean()  # compte the mean of each note for each section

###  Display the notes with a histogram plot

In [ ]:
# CC notes
fig = plt.figure()
df.CC.plot.hist(alpha=0.5, bins=np.arange(1, 20))
plt.show()

In [ ]:
# ET notes
fig = plt.figure()
df.ET.plot.hist(alpha=0.5, bins=np.arange(1, 20))
plt.show()

In [ ]:
fig = plt.figure()
df.plot.hist(alpha=0.5, bins=np.arange(1, 20))
plt.show()

## Let's compute the mean of both notes

###  We need first to add a new row to a data frame

In [ ]:
df["FinalNote"] = 0.0  # add  row filled with 0.0
df

In [ ]:
df.head()

### Let's compute the mean

In [ ]:
df["FinalNote"] = 0.7 * df.ET + 0.3 * df.CC
# the axis option alows comptuting the mean over lines or rows

In [ ]:
df.head()

In [ ]:
fig = plt.figure()
df.FinalNote.plot.hist(alpha=0.5, bins=np.arange(1, 20))
plt.show()

## What is the overall mean ?

In [ ]:
df.FinalNote.mean()